*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.register-page {
    margin: 80px auto;
    padding: 20px;
    width: 600px;
    height: 600px;
    box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.1);
    background: rgba(125,125,254,0.1);
}
.register-page h2 {
    text-align: center;
    padding:10px 0;
}
.registration-form{
    width:400px;
    margin:0 auto;
}
.btn{
    margin:10px 0;
}